{
  "db_host": "localhost",
  "db_name": "fruitmarketplace",
  "db_user": "postgres",
  "db_password": "aaaaaa",
  "db_port": 5432,
  "log": {
    "level": "debug",
    "console": {
      "enabled": true
    },
    "file": {
      "enabled": false,
      "filename": "/var/log/fruitmarketplace.log",
      "size": 1048576,
      "files": 10
    }
  },
  "authentication": {
    "algorithm": "HS256",
    "secret": "shhhhh"
  },
  "server": {
    "port": 8000,
    "threads": 2
  }
}